.leftbar {
  flex: 3;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #ffff;
}
::-webkit-scrollbar-thumb {
  background-color: #607d8b;
}

.leftbarWrap {
  padding: 20px;
}
.leftbarList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.leftbarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.leftbarIcon {
  margin-right: 10px;
  color: #455a64 !important;
}
.leftbarIconText {
  color: #455a64;
}
.leftbarButton {
  width: 150px;
  border: none;
  padding: 10px;
  font-weight: 400;
  height: 30px;
  background-color: #607d8b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfd8dc;
  cursor: pointer;
}
.leftbarHr {
  margin: 20px 0;
}
.leftbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.leftbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.friendImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.friendName {
  color: #455a64;
}
